@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 400,500,600,700,800,900;
    font-style: italic;
    font-display: swap;
}